/* Font Family for body content */
/* * { border: 1px solid red; } */
body{
    
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

header{
    max-width: 1320px;
    margin: 0px auto;
    height:602.5px;
    
}

.banner{
    height: 602.5px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Banner_Image.png');
    margin-top: 50px;
}

.banner_title{
    padding: 177px 344px 0px 344px;
    text-align: center;
}   

.banner_title1{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
  
    

} 
.banner_title2{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
    margin-top: 0px;
    width:632px ;
   
    
}
main{
    max-width: 1320px;
    margin: 0px auto;
}

.first_part{
    padding-top: 120px;
    text-align: center;
    
}

.offer_title1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.offer_description{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.offer_title2{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}
.second_element{
    padding-top: 120px;
    margin-bottom: 120px;
}


.second_part{
    display: flex;
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    align-items: center;
    justify-content: space-between;
    

}
.welcome_party{
    width: 697px;
    padding-left: 126px;
}
.welcome_title{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.welcome_text{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.welcome_button{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.welcome_2024{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
}
.img_2024{
    padding: 68px 138px 68px 0px;
}
.third_section{
    text-align: center;
    
    background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    
}
.third_element{
    padding: 100px 386px;
}
.place, .date, .time{
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.place2,.date2,.time2{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.primary_btn{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    border-radius: 8px;
    background: #F00;
    cursor: pointer;
    border: none;
    
}
.btn_text{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.fourth_section{
    margin-top: 120px;

    height: 463px;
    

}
.fourth_element{
    display: flex;
    padding: 0;
    align-items: center;
}
.fourth_element1{
    max-width: 393px;
    max-height: 463px;
    margin-right: 70px;
    gap: 1px;
    

}
.fourth_left_title1{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.fourth_left_title2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    
}
.fourth_left_text{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    padding: 0px;
}
.fourth_element2{
    /* width: 463px;
    height: 463; */
    border-radius: 463px;
    border: 10px solid #F00;
    margin-right: 118px;
    
    
    
}
.fourth_img{
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px;
    background-image: lightgray -91.279px 0px / 150.038% 100% no-repeat;
    padding: 45px;
}
.fourth_right_title{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fourht_right_text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.fifth_section{
    max-height:986.07px;
    margin-top: 120px;
    margin-bottom: 120px;

}
.fifth_upper{
    text-align: center;
    
}
.fifth_title1{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.fifth_title2>.left{
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.fifth_title2>.right{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.fifth_text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0 50px;
    
}
.fifth_lower{
    display: flex;
    background-image: url('../resources/Rectangle2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 64px;
    /* align-items: center; */
    justify-content: space-between;

}
.fifth_lower_right{
    background-image: url('../resources/Rectangle_1.png') ;
    /* border-radius: 16px 16px 0px 0px; */
    background-repeat:no-repeat;
    background-position: top right;
    width: 500px;
    flex-shrink: 0;
    background-size: 85% 66%;
    
}
.fifth_img_right{
    float: left;
    padding-top: 100px;
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
}


.six-section{
    margin-bottom: 120px;
}
.sixth-upper{
    margin-bottom: 48px;
}

.sixth-title1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sixth-title2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.sixth-text{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 896px;
}

.sixth-lower1{
    display:flex;
    gap: 24px;
    padding-bottom: 24px;
}
.sixth-lower2{
    display: flex;
    gap: 24px;
}

.lower1-image1,
.lower1-image2,
.lower1-image3,
.lower2-image1,
.lower2-image2,
.lower2-image3 {
  width: 424px;
  height: 450px;
  overflow: hidden;
  border-radius:16px;
}


.lower1-image1:hover img,
.lower1-image2:hover img,
.lower1-image3:hover img,
.lower2-image1:hover img,
.lower2-image2:hover img,
.lower2-image3:hover img{
    /* border: 16px solid violet;
    border-radius: 16px; */
    transform: scale(1.25);
}

.seventh-section{
    text-align: center;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-top: 80px;
    margin-bottom:120px ;

}
.seventh-element{
    height: 616px;
}
.seventh-img{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-bottom: 40px;
}
.seventh-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.seventh-text{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 896px;
    margin-left: 170px;
    margin-bottom: 48px;
}
.seventh-bottom{
    width: 648px;
    height: 72px;
    display: flex;
    border-radius: 50px;
    background: #FFF;
    justify-content: space-between;
    padding-left: 30px;
    margin: 0 auto;
}
.seventh-button{
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    cursor: pointer;
}
.button-text{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.seventh-email{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}
.footer{
    background: #070211;
    
    
}
.footer-element{
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 120px;
}
.footer-text{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}
.footer-upper{
    display: flex;
    justify-content: space-between;
    
    
}
.footer-upper-left{
    width: 375px;
}
.footer-upper-right{
    padding-right: 135px;
}

.hr-line{
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom:48px;
    border: none;
}
.footer-middle{
    text-align: center;
    margin-bottom: 48px;
    
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}
.unsubscribe{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
